name: Django project test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup Docker-Compose
      run: docker-compose up --build -d
    - name: Run tests
      run: docker container exec todo-backend sh -c "black . && flake8 && pytest ."
